.info {
  position: relative;
  height: 100%;
}

.inner {
  position: absolute;
  width: 300px;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--text-primary);
}

.descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--black-50);
  margin-bottom: 30px;
}
