.userMenu {
  display: flex;
  align-items: center;
}

.btn {
  padding: 0;
  padding-left: 44px;
  margin-right: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--secondary);
}
