.wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: minmax(320px, 1200px);
  max-width: 1200px;
  min-height: calc(100vh - (85px * 2));
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  background-color: var(--bg-primary);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  margin: 85px auto;
  border-radius: 20px;
  gap: 45px;
  grid-template-areas:
    'header'
    'content'
    'footer';
}

.drawer {
  grid-area: drawer;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}
